# macOS
.DS_Store
**/.DS_Store

# Gradle
.gradle/
.gradle-home/
**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
.metals/

.DS_Store
**/.DS_Store

# Env / local config
.env
application-local.yml
application-local.properties
postman/*.postman_environment.json
postman/local-dev.postman_environment.json

# Beads / local issue state
.beads/

# Local tooling
.bloop/

stm32.log